/* You can add global styles to this file, and also import other style files */
.country-listing{
  font-family: Calibri;
  color: coral;
  padding: 2px;
}
.country-listing li {
  border: 1px dot-dot-dash blue;
}
p{
  color: purple;
}
.listing-items{
  border: 1px solid brown;
  background-color:azure;
  width: 150px;
  height: 20px;
}
.active{
  color: darkslateblue;
}
.link-button{
  border:none;
  background-color: #309c9c;
  color: #ccc;
  border-radius: 13%;
  height: 20px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
